<template>
    <div id="main" class="exchange-main">
        <h1>{{ title }}</h1>

        <div
          class="exchange-main__btn"
          @click="showModal = true">
            Выбрать дату
        </div>

        <ExchangeModal v-if="showModal"/>
    </div>
</template>

<script>
import ExchangeModal from './ExchangeModal'

export default {
  name: 'ExchangeMain',
  components: {
    ExchangeModal
  },
  data: function () {
    return {
      title: 'Добро пожаловать',
      showModal: false
    }
  }
}
</script>

<style scoped>
    .exchange-main {
        text-align: center;
    }

    h1 {
        font-size: 36px;
    }

    .exchange-main__btn {
        display: inline;
        background: #dd88dd;
        border-radius: 21px;
        padding: 10px 20px;
        color: #000;
        font-size: 20px;
        font-weight: 700;
        cursor: pointer;
    }
</style>
