<template>
    <div class="exchange-modal">

        <div class="exchange-modal__body">
            <div
              class="exchange-modal__close-btn"
              @click="closeModal">
                x
            </div>

            <Datepicker
              v-model="date"
              :format="format"
              :previewFormat="format"
              :enableTimePicker="false"
              :minDate="minDate"
              :maxDate="new Date()">
            </Datepicker>

            <select class="exchange-modal__selected" v-model="selected">
              <option disabled hidden value="">Select one</option>
              <option v-for="o in opts" :value="o" :key="o">{{ o }}</option>
            </select>

            <div
            class="exchange-modal__btn disabled"
            @click="submitBtn">
              Рассчитать
            </div>
        </div>
    </div>
</template>

<script>
import { ref } from 'vue'

import Datepicker from '@vuepic/vue-datepicker'
import axios from 'axios'

import '@vuepic/vue-datepicker/dist/main.css'

export default {
  name: 'ExchangeModal',
  components: {
    Datepicker
  },
  data: () => ({
    date: null,
    exchangeValue: [],
    selected: '',
    list: [],
    tmp: '',
    sum: '',
    bool: false,
    saleNB: '',
    sale: '',
    purchaseNB: '',
    purchase: '',
    opts: [
      'USD',
      'EUR',
      'PLN',
      'GBP',
      'RUB'
    ]
  }),
  setup () {
    const dated = ref(new Date())
    const format = (dated) => {
      const day = String(dated.getDate()).padStart(2, '0')
      const month = String(dated.getMonth() + 1).padStart(2, '0')
      const year = dated.getFullYear()
      return `${day}.${month}.${year}`
    }

    const minDate = new Date(new Date().setDate(new Date().getDate() - 730))

    return {
      minDate,
      format,
      dated
    }
  },
  methods: {
    closeModal () {
      this.$parent.showModal = false
    },
    updCases (item) {
      this.tmp = item.toString().split('')
      this.sum = this.tmp.filter(val => val !== '.')
      this.sum = this.sum.reduce(function (a, b) { return parseInt(a, 10) + parseInt(b, 10) })

      if (this.sum % 2 === 0) {
        this.bool = true
      } else {
        this.bool = false
      }

      item = item + ', ' + this.sum + ', ' + this.bool

      return item
    },
    submitBtn () {
      const date = this.date

      const year = date.getFullYear()
      const month = String(date.getMonth() + 1).padStart(2, '0')
      const day = String(date.getDate()).padStart(2, '0')
      const joined = [day, month, year].join('.')

      axios.get(`https://api.privatbank.ua/p24api/exchange_rates?json&date=${joined}`).then((response) => {
        this.exchangeValue = response.data.exchangeRate
        this.list = this.exchangeValue.filter(exchange => exchange.currency === this.selected)

        this.saleNB = this.list[0].saleRateNB
        this.sale = this.list[0].saleRate
        this.purchaseNB = this.list[0].purchaseRateNB
        this.purchase = this.list[0].purchaseRate

        console.log('sale', this.sale)

        this.$router.push({ name: 'result', params: { queryDate: response.data.date, queryBuy: this.selected, sale: this.updCases(this.sale), saleNB: this.updCases(this.saleNB), purchase: this.updCases(this.purchase), purchaseNB: this.updCases(this.purchaseNB) } })
      })
    }
  },
  watch: {
    selected () {
      if (this.date) {
        document.querySelector('.exchange-modal__btn').classList.remove('disabled')
      } else {
        document.querySelector('.exchange-modal__btn').classList.add('disabled')
      }
    },
    date () {
      if (this.selected) {
        document.querySelector('.exchange-modal__btn').classList.remove('disabled')
      } else {
        document.querySelector('.exchange-modal__btn').classList.add('disabled')
      }
    }
  }
}
</script>

<style scoped>
    .exchange-modal {
        background: rgba(0,0,0,0.5);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: auto;
    }

    .exchange-modal__body {
        width: 30%;
        margin: auto;
        background: white;
        border-radius: 21px;
        padding: 20px;
        position: relative;
    }

    .exchange-modal__close-btn {
        font-weight: 700;
        position: absolute;
        right: -30px;
        top: -30px;
        background: white;
        padding: 5px 10px;
        border-radius: 100px;
        cursor: pointer;
    }

    .exchange-modal__selected,
    .dp__theme_light {
        width: 100%;
        padding: 8px 10px;
        background: white;
        box-shadow: 0px 2px 8px;
        border: none;
        border-radius: 5px;
        margin-top: 10px;
        font-size: 18px;
        font-weight: 700;
    }

    .dp__theme_light {
      padding: 0;
    }

    .dp__input {
      border: none;
    }

    .exchange-modal__selected:focus,
    .exchange-modal__selected:hover,
    .exchange-modal__selected:active {
      border: none!important;
    }

    .exchange-modal__selected option {
      font-size: 18px;
      font-weight: 700;
    }

    .exchange-modal__btn {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      height: 40px;
      border-radius: 100px;
      background: #ff6235;
      color: black;
      cursor: pointer;
      margin-top: 30px;
      opacity: 1;
    }

    .disabled {
      opacity: 0!important;
      cursor: unset;
    }

    @media screen and (max-width: 767px) {
      .exchange-modal__body {
        width: unset;
      }
    }
</style>
