<template>
    <div id="exchange-result">
        <h1>{{ title }}</h1>
        <div class="exchange-result__choise-params">Выбранная дата - {{ params.queryDate }}</div>
        <div class="exchange-result__choise-params">Выбранная валюта - {{ params.queryBuy }}</div>

        <div class="exchange-result__bank-params">SaleRateNB - {{ params.saleNB }}</div>
        <div class="exchange-result__bank-params">PurchaseRateNB - {{ params.purchaseNB }}</div>
        <div class="exchange-result__bank-params">SaleRate - {{ params.sale }}</div>
        <div class="exchange-result__bank-params">purchaseRate - {{ params.purchase }}</div>

        <div class="exchange-result__btn" @click="backToMain">На главную</div>
    </div>
</template>

<script>
export default {
  name: 'ExchangeResult',
  data: function () {
    return {
      title: 'Результат',
      params: this.$route.params
    }
  },
  methods: {
    backToMain () {
      this.$router.push('/')
    }
  }
}
</script>

<style scoped>
  .exchange-result__choise-params {
    font-weight: 700;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 60px;
  }

  .exchange-result__bank-params {
    font-weight: 700;
    font-size: 18px;
    margin-top: 20px;
  }

    .exchange-result__btn {
        display: inline;
        background: #ff88dd;
        border-radius: 21px;
        padding: 10px 20px;
        color: #000;
        font-size: 20px;
        font-weight: 700;
        cursor: pointer;
        position: relative;
        top: 50px;
    }
</style>
